# Configuration file

forestry {
    # Enable distillation tower recipes envolving Forestry fuels [Default=true]
    B:EnableDistillationTowerForestryRecipes=true

    # Allow Forestry fuels to be used in the fuel generators [Default=true]
    B:EnableForestryFuels=true
}


general {
    # Drop red and yellow garnets and peridot from any harvested oreRuby, oreSapphire, oreSphalerite. False will also disable drop from TechReborn ores. [Default=true]
    B:secondaryGemDrops=true
}


immersiveengineering {
    # Allow ImmersiveEngineering fuels to be used in the fuel generators (i.e. Creosote) [Default=true]
    B:EnableImmersiveEngineeringFuels=true
}


jei {
    # Show Scrapbox loot in JEI [Default=false]
    B:ShowScrabpox=false
}


modules {
    # Should the compat module 'BaublesCompat' be loaded
    B:BaublesCompat=true

    # Should the compat module 'CompatOpenComputers' be loaded
    B:CompatOpenComputers=true

    # Should the compat module 'CraftTweakerCompat' be loaded
    B:CraftTweakerCompat=true

    # Should the compat module 'ForestryCompat' be loaded
    B:ForestryCompat=true

    # Should the compat module 'IC2ModuleExperimental' be loaded
    B:IC2ModuleExperimental=true

    # Should the compat module 'IndustrialForegoingCompat' be loaded
    B:IndustrialForegoingCompat=true

    # Should the compat module 'RecipeImmersiveEngineering' be loaded
    B:RecipeImmersiveEngineering=true

    # Should the compat module 'RecipeThermalExpansion' be loaded
    B:RecipeThermalExpansion=true

    # Should the compat module 'RefinedStorageCompat' be loaded
    B:RefinedStorageCompat=true

    # Should the compat module 'TheOneProbeCompat' be loaded
    B:TheOneProbeCompat=true
}


refinedstorage {
    # Enable assembling machine recipes envolving Refined Storage processors [Default=true]
    B:EnableAssemblingMachineProcessorRecipes=true
}


theoneprobe {
    # Display machine info in The One Probe's HUD [Default=true]
    B:EnableTOPSupport=true
}


