# Configuration file

general {

    ##########################################################################################################
    # general
    #--------------------------------------------------------------------------------------------------------#
    # General Options
    ##########################################################################################################

    general {
        # REQUIRES A RESTART TO APPLY!
        B:"Display Armor Toughness Bar"=true
        B:"Draw full absorption Bar"=false
        B:"Show Exhaustion Overlay"=true

        # Whether to show icons next to the bars
        B:"Show Icons"=true
        B:"Show Saturation Bar"=true
    }

    ##########################################################################################################
    # colors
    #--------------------------------------------------------------------------------------------------------#
    # Color Options
    ##########################################################################################################

    colors {
        S:"Hunger Bar Color"=#B34D00
        S:"Lava Bar Color"=#FF8000
        S:"Oxygen Bar Color"=#00E6E6
        S:"Saturation Bar Color"=#FFCC00
        S:"Thirst Bar Color"=#1C5EE4

        "advanced options" {
            # Colors must be specified in #RRGGBB format
            S:"Armor color values" <
                #FFFFFF
                #DCDCDC
                #D3D3D3
                #A9A9A9
                #696969
                #F0FFFF
                #F0FFF0
                #E6E6FA
                #FFEFD5
                #FFF0F5
                #BC8F8F
                #FFB6C1
                #DA70D6
                #6A5ACD
                #4169E1
                #6495ED
                #7FFFD4
                #00FFFF
                #20B2AA
                #00FF7F
                #ADFF2F
                #FFFF00
                #FFD700
                #FFA500
                #FF4500
                #CD5C5C
                #FF0000
                #A52A2A
                #800000
                #000000
             >
            S:Colors <
                #FF0000
                #FFFF00
                #00FF00
             >
            D:"Health fractions" <
                0.25
                0.5
                0.75
             >
        }

    }

    ##########################################################################################################
    # numbers
    #--------------------------------------------------------------------------------------------------------#
    # Number Options
    ##########################################################################################################

    numbers {
        B:"Percentage based"=false

        # Numbers info
        B:"Show Numbers"=true
    }

    ##########################################################################################################
    # warnings
    #--------------------------------------------------------------------------------------------------------#
    # Warnings
    ##########################################################################################################

    warnings {
        # Warning when advanced rocketry is installed
        B:"Show Advanced Rocketry warning"=true
    }

}


