# Configuration file

config {
    # The Amount of FU to output from EU [Default=4]
    I:"EU - FU ratio"=4

    # When enabled machines that try to insert power into a machine with a lower teir will smoke [Default=false]
    B:"Energy smoking"=false
}


